{% extends 'base.html.twig' %}

{% block body %}

    <div class="card mb-3">
        <div class="card-body">
            <h1 class="display-4">MTG Guessr</h1>
            <p class="lead">Show how strong you are at recognizing MTG editions !</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center">Play</h3>
                            <hr>
                            <div class="text-center">
                                <a href="{{ path('quiz') }}">
                                    <i class="fas fa-gamepad text-center fa-10x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center">Leaderboard</h3>
                            <hr>
                            <div class="text-center">
                                <a href="{{ path('leaderboard') }}">
                                    <i class="fas fa-trophy text-center fa-10x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
